<div id="form">
  <h2>Sign Up</h2>
  <form action="/trainer/signup-trainer" method="POST">

    <label>
      Name
      <input type="text" name="name" placeholder="Your name" />
    </label>
    <br />
    <label>
      Email
      <input type="email" name="email" placeholder="Your email" />
    </label>
    <br />
    <label>
      Password
      <input type="password" name="password" placeholder="Your password" />
    </label>
    <br />
    <label>
      Phone number:
      <input type="text" name="phoneNumber" placeholder="Your phone number" />
    </label>
    <br />
    <button type="submit">Sign Up</button>

    {{#if errormessage}}
      <p class="error">{{errormessage}}</p>
    {{/if}}
  </form>
</div>