

 <form action="/trainer/client-registration" method="POST">
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base font-semibold leading-7 text-sky-600 m-6">Client
        Registration</h2>

   
        <p class="mt-1 text-sm leading-6 text-gray-600">Use your client's email address, remember that this will be the email they will use to log in.</p>
 
         

        <div class="flex-col justify-center m-8">
          <div class="sm:col-span-4">
            <label
              class="block text-sm font-medium leading-6 text-gray-900"
            >Name</label>
            <div class="mt-2">
              <input
                type="text"
                name="name"
                id="name"
                class=" w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6 pl-2  mb-6"
                placeholder=" First and last name"
              />
            </div>
          </div>

          <div class="sm:col-span-4">
            <label
              
              class="block text-sm font-medium leading-6 text-gray-900"
            >Email address</label>
            <div class="mt-2">
              <input
                id="email"
                name="email"
                type="email"
            
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6 pl-2  mb-6"
                placeholder=" Your client's email"
              />
           
          </div>
        </div>
    

        <div class="sm:col-span-4 " >
            <label
              class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label>
            <div class="mt-2">
              <input
                id="password"
                name="password"
                type="password"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6 pl-2  mb-6"
                placeholder=" Provisional password"
              />
            </div>
          </div>
        </div>

  <div class="mt-6 flex items-center justify-center gap-x-6">
   
    <button
      type="submit"
      class="bg-gradient-to-r from-teal-400 to-sky-500 hover:from-orange-500 hover:to-yellow-500 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-6 px-8 py-2"
    >Save</button>
  </div>
  {{#if errormessage}}
      <p class="error">{{errormessage}}</p>
    {{/if}}
</form> 

