<h1>Trainer dashboard</h1>
 
 <section id="myclients"></section>

{{#each user}}
  <div>
  <a href="/trainer/client-details/{{this._id}}">{{this.name}}</a>
  </div>
{{/each}}

<a href="/trainer/user-create">Create a new client</a>