


<div class="flex justify-center items-center h-screen bg-gradient-to-r from-white to-gray-200">
  <img src="images/TrainMeUpLogoFInal.png" alt="TrainMeUp Logo" class="mx-auto mb-8 w-1/2">
  <br>
 <div class="inline-grid gap-4 p-10 bg-white rounded-lg shadow-lg">
    <a href="/trainer/login-trainer" class="p-4 bg-sky-500 hover:bg-sky-600 text-white rounded-lg text-center font-semibold">Log in Trainers</a>
    <a href="/user/login-user" class="p-4 bg-sky-500 hover:bg-sky-600 text-white rounded-lg text-center font-semibold">Log in Users</a>
    <br>
    <p class="text-gray-700">Don't have an account? <a href="/trainer/signup-trainer" class="text-sky-500 hover:text-sky-600 font-semibold">Sign up as a Trainer</a></p>
</div>
</div>
