<form action="/user/data-update" method="POST" >
<div class="flex justify-center">
    <div class="border-b border-gray-900/10 pb-12 space-y-12 flex justify-center flex-col w-2/6">  
        <div class="border-b border-gray-900/10 pb-12 mt-10">
          <h2
            class="text-lg font-semibold leading-7 text-sky-700 text-center mb-4"
          >Biometrics</h2>
          <div class="sm:col-span-2">
            <label
              class="block text-base font-medium leading-6 text-gray-900"
            >Height (cm)</label>
            <div class="mt-2">
              <input
                type="text"
                name="height"
                value="{{userData.biometrics.height}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 text-center"
              />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="postal-code"
              class="block text-base font-medium leading-6 text-gray-900"
            >Weight (kg)</label>
            <div class="mt-2">
              <input
                type="text"
                name="weight"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 text-center"
                value="{{userData.biometrics.weight}}"
              />
            </div>
        </div>
      </div>
      <div class="sm:col-span-3 ">
        <h2
          class="text-lg font-semibold leading-7 text-sky-700 mb-4"
        >Objective</h2>
        <div class="mt-2">
          <select
            name="objective"
            class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 "
          ><option disable selected value="">- Select one</option>
            <option value="Weight Loss">Weight Loss</option>
            <option value="Improve Health">Improve Health</option>
            <option value="Gain weight">Gain weight</option>
          </select>
        </div>
      </div>
    </div>
    </div>
      <button
        type="submit"
        class="bg-gradient-to-r from-teal-400 to-sky-500 hover:from-orange-500 hover:to-yellow-500 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-6 px-8 py-2"
      >Save</button>
    </div>
    
</form>