<form action="/user/data-create" method="POST">
  {{! <div class="space-y-12"> }}
  <div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-lg font-semibold mb-2 text-sky-600 m-8">Personal Information</h2>
    <p class="mt-1 text-small leading-6 text-gray-600 mb-8">Update your profile,
      please don't modify your email.</p>
  
  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label
            class="block text-sm font-semibold leading-6 text-gray-900"
          >Name</label>
          <div class="mt-2">
            <input
              type="text"
              name="name"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
              placeholder="First and last name"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label class="block text-sm font-semibold leading-6 text-gray-900">Email
            address</label>
          <div class="mt-2">
            <input
              name="email"
              type="email"
              value="{{userData.email}}"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label class="block text-sm font-semibold leading-6 text-gray-900">
            Password</label>
          <div class="mt-2">
            <input
              name="password"
              type="password"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
              placeholder="At least 8 characters, one number, one lowercase and one uppercase letter"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label class="block text-sm font-semibold leading-6 text-gray-900">Phone
            number</label>
          <div class="mt-2">
            <input
              type="text"
              name="phoneNumber"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"
              placeholder="Your phone number"
            />
          </div>
        </div>
     
    
    </div>
    <div class="flex flex-col justify-center items-center">
    <div class="border-b border-gray-900/10 pb-12 w-2/6">
      <h2
        class="text-sm font-semibold leading-7 text-gray-900 mt-8"
      >Biometrics</h2>
      <div class="sm:col-span-2">
        <label
          class="block text-sm font-medium leading-6 text-gray-900"
        >Height (cm)</label>
        <div class="mt-2">
          <input
            type="text"
            name="height"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6 pl-2"
          />
        </div>
      </div>

      <div class="sm:col-span-2">
        <label
          for="postal-code"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Weight (kg)</label>
        <div class="mt-2">
          <input
            type="text"
            name="weight"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6 pl-2"
          />
        </div>
      </div>

    </div>
    <div >
         <div class="sm:col-span-3 "></div>
      <label
     class="block text-sm font-semibold leading-6 text-gray-900"
      >Objective</label>
      <div class="mt-2">
        <select
          name="objective"
          class=" block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:max-w-xs sm:text-sm sm:leading-6"
        ><option disable selected value="">- Select one</option>
          <option value="Weight Loss">Weight Loss</option>
          <option value="Improve Health">Improve Health</option>
          <option value="Gain weight">Gain weight</option>
        </select>
      </div>
    </div>
    </div>
  <div class=" pb-12">
  </div>
        <button
      type="submit"
      class="bg-gradient-to-r from-teal-400 to-sky-500 hover:from-orange-500 hover:to-yellow-500 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 mt-6 px-8 py-2"
    >Save</button>
    
  </div>
  </div>
</form>