body 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/images/logoBackground.png");
    background-repeat:repeat;
    background-size: 45px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }



a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  list-style-type: none;
}

.container {
  width: 80%;
  text-align: center;
}