/* body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background: url(/images/Untitled\ design.png);
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.view-container {
  width: 80%;
  height: 100%;
  text-align: center;
  background-color: #fff;
}
a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav ul li {
  list-style-type: none;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
